* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  background: rgb(221, 5, 52);
  background: linear-gradient(
    90deg,
    rgba(221, 5, 52, 1) 0%,
    rgba(102, 0, 255, 1) 100%
  );
  color: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(92, 2, 21);
  background: linear-gradient(
    90deg,
    rgba(92, 2, 21, 1) 0%,
    rgba(20, 0, 50, 1) 100%
  );
  padding: 2rem;
  border-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
li,
ul,
ol {
  list-style: none;
}
li {
  margin-bottom: 2rem;
  padding: 2rem;
  font-size: 1.4rem;
  margin-left: 2rem;
  background: rgba(92, 2, 22, 0.103);
  background: linear-gradient(
    90deg,
    rgba(92, 2, 22, 0.178) 0%,
    rgba(20, 0, 50, 0.137) 100%
  );
  border-radius: 1rem;
  text-decoration: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 2rem;
}

li:hover {
  color: white;
  background: rgba(92, 2, 22, 0.705);
  background: linear-gradient(
    -90deg,
    rgba(92, 2, 22, 0.719) 0%,
    rgba(20, 0, 50, 0.705) 100%
  );
  transition: smooth;
}

.content {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem;
}
